/* css reset */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    font-size: calc(0.5rem + 0.2vw);
}

/* ============================
            LAYOUT
 ============================  */

body {
    background-color: #121212;
    color:#fff;
    font-family: 'Inter', sans-serif;
    display:grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: 70px 140px 50px 60%;
    font-size:1.3rem;
}

header {
    grid-column:2/-2;
    grid-row:2/3;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:2.5em;
}

/* Form */
form{
    grid-column:2/-2;
    grid-row:3/4;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:calc(22px + 0.95vw);
    position: relative;
    margin-top:30px;
    font-size: calc(9px + 0.7vw);
}

input[type=text]{
    padding:8px 0px 8px 40px;
    background: #2E2E2F !important;
    border:none;
    color: #A5A5A5;
    border-radius:6px 0px 0px 6px;
    width:60vw;
    height:100%;
    flex-grow:1;
    font-size: inherit;
    outline: none;
}
input[type=text]:focus {
    background: #2E2E2F !important;
}

.input-icon {
    height:100%;
    display:flex;
    align-items: center;
}

/* Movies Container */
main {
    grid-column:2/-2;
    grid-row:4/5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
}

.movie{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    height:auto;
}

.movies-container{
    margin-top:4.5rem;
    display:flex;
    width:100%;
}

.formating,
.full{
    flex-direction: column;
}

.info {
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:10px;
}

.heading-rating,
.time-genre-watchlist{
    display:flex;
    align-items:center;
    gap:1.5em;
    margin-bottom: 1.5rem;
}

/* Watchlist Empty/Full */


.empty-watchlist {
    text-align: center;
    flex-direction: column;
    font-size: inherit;
    line-height: 60px;
    display:flex;
}

.empty-watchlist p, 
#error {
    color:#787878;
    font-size:1.7rem;
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
}

/* ============================
            TYPOGRAPHY
 ============================  */

h1 {
    font-weight:800;
    font-size: calc(19px + 2.5vw);
    letter-spacing: -0.045em;
}
 
h3 {
    font-size:1.7rem;
}

.info > p {
    line-height: 2rem;
    font-weight: 400;
    color:#A5A5A5;
}

/* Icons */

i {
    color:#A5A5A5;
}

.input-icon i{
    position:absolute;
}

.icon{
    padding:10px;
    color: #9CA3AF;
}

.plus{
    color:#fff;
}
/* ============================
       BUTTONS/ LINKS
 ============================  */
 
/* Buttons */

button{
    border:none;
    color:#fff;
    font-weight: 500;
    transition:all 0.5s;
    font-size: 1.4rem;
}
  
.search-btn{
    background-color: #4B4B4B;
    border-radius: 0px 6px 6px 0px;
    padding: 0 1.5em;
    flex-grow:0;
    width:30vw;
    height:100%;
    font-size: inherit;
}

.search-btn:hover{
    background-color: #ebcf42; 
    color:#121212;
 }

.watchlist-btn{
    background:transparent;
    color:#fff;
    text-decoration: none;
}

.watchlist-btn:hover,
.plus:hover{
    color:#ebcf42;
}


/* Links */
header a{
    color:#fff;
    text-decoration: none;
    position:relative;
    transition: all 0.5s;
    font-size: calc(11px + 1vw);
}

header a::after{
    content:'';
    height: 3px;
    width:0%;
    background: #ebcf42;
    position: absolute;
    left:0;
    bottom:-10px;
    transition: 0.5s;
}

a:hover::after{
    width:100%;
}

header a:hover,
.info a:hover{
    color:#ebcf42;
}

.info a{
    color:white;
    transition: all 0.5s;
}

/* Divider */

hr{
    border: 1.5px solid #2C2C2C;
    margin: 15px 0;
}

/* ============================
            IMAGES
 ============================  */
.background-img{
    grid-column:1/-1;
    grid-row:1/4;
    z-index: -3;
    filter:brightness(40%);
    height:100%;
    width:100vw;
    object-fit:cover;
}

.reel-icon{
    height:auto;
    width:calc(120px + 3vw);
    margin: 100px auto;
}

.poster-img {
    width:10rem;
    height:15rem;
}


/* ============================
        MEDIA QUERIES
 ============================  */
@media only screen and (max-width:600px){
    body {
        grid-template-columns: 1fr 90% 1fr;
        grid-template-rows: 70px 100px 50px 60%;
        transition:all 0.5s;
    }
}